<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="../d3.v3.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../bootstrap.min.css"/>
		<link rel="stylesheet" href="../axis.css"/>

	</head>

	<body style="background-color:transparent;">

		<div class="row">
		<div class="col-md-2">
		</div>

		  <div class="col-md-3">
		  		<div class="h1">General Statistics</div>
				<h4 class="text" >
		  			Number of Refugees <br><span class="label label-default">9</span>
		  		</h4>
				<br>
				<div class="h1">Other Info</div>
				<h4 class="text">
					Most Spoken Language <br><span class="label label-default">Portuguese</span>
				</h4>
				<br>
				<h4 class="text">
					Most Common Problem <br><span class="label label-default">A</span>
				</h4>
				<br>
				<h4 class="text">
					Number of incomplete profiles  <br><span class="label label-default">6</span>
				</h4>
		</div>
		  <div id="the_chart"><div/>
		</div>

	</body>

  <script src="chart.js" charset="utf-8"></script>

</html>