@import "bootstrap-sprockets";
@import "bootstrap";

.homepageStyle {
    background: url('/colorful-triangles-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    //background: #0f0;
      margin:0;
  padding:0;
  height:100%;
}


.innerStyle{
    background: url('/innerBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    //background: #0f0;
      margin:0;
  padding:0;
  height:100%;
}

html,body{height:100%;}

.vertical-align {
    display: flex;
    align-items: center;
}

.spacing
{
	margin-right: 1em;
}

textarea{
  min-width: 100%;
}

.spacing-top
{
	margin-top: 2em;
}
