
<div class="dashboardStyle">

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron col-md-4 col-md-offset-1" style="margin-top: 6em">
                <div class="h1">General Statistics</div>
                <h4 class="text" >
                    Number of Refugees <br><span class="label label-default">9</span>
                </h4>
                <br>
                <div class="h1">Other Info</div>
                <h4 class="text">
                    Most Spoken Language <br><span class="label label-default">Portuguese</span>
                </h4>
                <br>
                <h4 class="text">
                    Most Common Problem <br><span class="label label-default">A</span>
                </h4>
                <br>
                <h4 class="text">
                    Number of incomplete profiles  <br><span class="label label-default">6</span>
                </h4>
            </div>
            <div class="jumbotron col-md-5 col-md-offset-1" style="margin-top: 6em">
                <div id="barChart"></div>
                <div id="pieChart"></div>
            </div>
        </div>
    </div>
</div>